/* цвет основного текста: #757575;*/
/* вторичный цвет текста: #212121;*/

/* основной цвет фона #FFFFFF;*/
/* вторичный цвет фона #2F303A; цвет фона в герое и подвале*/

/* color: #FFFFFF;*/
/* color: rgba(255, 255, 255, 0.6); цвет адресса в подвале*/
/* акцент #2196F3; цвет кнопки,ссылок в шапке,лого*/
/*страница*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --secondary-accent-color: rgba(255, 255, 255, 0.6);
}
.page {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
}
/*логотип*/
.logo {
  color: var(--accent-color);
}
.logo .webstudio:hover,
.logo .webstudio:focus {
  color: var(--accent-color);
}
.logo .studio:hover,
.logo .studio:focus {
  color: var(--accent-color);
}
/* убираем маркеры*/
ul {
  list-style: none;
}
/*ссылки в шапке*/
.site-nav .link {
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.address-nav .link {
  color: var(--primary-text-color);
}
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}
/*hero*/
.hero-title {
  background-color: #2f303a;
  color: var(--main-background-color);
}
/*секции*/
.section-title {
  color: var(--secondary-text-color);
}
/*кнопка*/
.button {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
/* работаем с портфолио */
.basement {
  background-color: var(--secondary-background-color);
  color: var(--main-background-color);
}
.basement .logo {
  color: var(--accent-color);
}
.address .link {
  color: var(--secondary-accent-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.menu .button {
  background-color: var(--main-background-color);
  color: var(--secondary-text-color);
}
.menu .button:hover,
.menu .button:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
.webstudio {
  color: var(--secondary-text-color);
}
.studio {
  color: var(--main-background-color);
}
.text {
  color: var(--primary-text-color);
}
